---
Language:        Cpp
BasedOnStyle:    Google
IndentWidth:     4
TabWidth:        4
AccessModifierOffset: -4
NamespaceIndentation: All
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false
DerivePointerAlignment: false
PointerAlignment: Left
