on:
  push:
    branches:
      - develop
name: release-please
env:
  ACTION_NAME: release-aide
jobs:
  release-please-release:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@main
        id: release
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
          release-type: simple
#          package-name: ${{env.ACTION_NAME}}
          command: github-release
        if: ${{ steps.release.outputs.release_created }}
  release-please-pr:
    runs-on: ubuntu-latest
    needs: [release-please-release]
    steps:
      - id: release-pr
        uses: google-github-actions/release-please-action@main
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
          release-type: simple
          fork: false
#          package-name: ${{env.ACTION_NAME}}
          command: release-pr
      - id: label
        if: ${{ steps.release-pr.outputs.pr }}
        uses: actions/github-script@v3
        with:
            github-token: ${{secrets.GITHUB_TOKEN}}
            script: |
              const [owner, repo] = process.env.GITHUB_REPOSITORY.split('/');
              await github.issues.addLabels({
                owner,
                repo,
                issue_number: ${{steps.release-pr.outputs.pr}},
                labels: ['autorelease: pending']
              });
              console.log(`Tagged ${{steps.release-pr.outputs.pr}}`)
